@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldin akkayasoft IDX nasılsın iyiyim sen nasılsın</h1>
    <p>Burada da artık çalışıyor</p>
    
</div>
